
@{
    ViewData["Title"] = "List";
}


<div class="container-fluid">
  <div class="row">
    <div class="col-3">
        <!-- Tag List -->
      </div>
      <div class="col-9">
      <!-- bu sayfada birden fazla componente yer verilebilir .-->
      <vc:post-list category-name="@ViewBag.CategoryName"></vc:post-list>
      </div>
  </div>
</div>






